body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: rgb(122, 3, 186);
}
.huhu {
  width: 300px;
  height: 300px;
}
.hha {
  width: 200px;
  height: 200px;
}

.calculator {
  background: yellowgreen;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px aqua;
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: orchid;
  color: black;
}

button:hover {
  background: slateblue;
}

.zero {
  grid-column: span 2;
}
